<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.description %>">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
  
  <%- include('../partials/search.ejs')  %>
  <div class="container">
    <%- include('../partials/header.ejs')  %>
    <main class="main">
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs')  %>
  </div>  

  <!--ishank  -->

  <!-- Responsive navbar-->
  <!--
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
          <a class="navbar-brand" href="#!">BMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                  <li class="nav-item logout"><a class="nav-link" href="/user-logout">Logout</a></li>
                  <li class="nav-item login"><a class="nav-link" href="/login">Login</a></li>
                  <li class="nav-item login"><a class="nav-link" href="/register">Register</a></li>
              </ul>
          </div>
      </div>
  </nav>
  -->
  
</body>


<!-- ishank -->

<script>

  function getCookie(name) {
    let matches = document.cookie.match(new RegExp(
      "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
  }
  var userData = null;
  var userId = null;
  if(getCookie('username') === undefined){
    document.getElementsByClassName('logout')[0].style.display = 'none';
    document.getElementsByClassName('login')[0].style.display = 'block';
    document.getElementsByClassName('login')[1].style.display = 'block';
  }
  else{
    userData = getCookie('username');    // user to username
    userId = userData;
    document.getElementsByClassName('logout')[0].style.display = 'block';
    document.getElementsByClassName('login')[0].style.display = 'none';
    document.getElementsByClassName('login')[1].style.display = 'none';
  }
  console.log(userId)
</script>

</html>